{% extends "SportnetSportnetBundle:Default:layout.html.twig" %}

{% block title %}
	{{parent() }} - Accueil
{% endblock %}

{% block content %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash notice">
            <div id="notice">
           <div class="warning_alert"> {{ flashMessage }} </div>
            </div>
        </div>
    {% endfor %}
    <div class="ariane">
	<ul id="breadcrumb">
		<li><a href=""></a></li>
		<li><a href={{ path('sportnet_sportnet_accueil') }}>Accueil</a></li>
	</ul>
	</div>
	<div class="jumbotron">
		<h2>Présentation de l'application SportNet</h2>
		<p>Dans ce projet, SPORTNET est une application de gestion d’inscriptions à des événements et des épreuves sportives individuelles. Cette application offre des services à destination des organisateurs d’événements sportifs :
		Inscription des participants aux épreuves.
		Récupération des listes d’engagés.
		Publication des résultats.</p>

		<p>On a donc dans ce projet 2 types d’utilisateurs :</p>

		<p>Les ORGANISATEURS d’événements sportifs, ils seront enregistrés sur l’application SPORTNET, ils peuvent créer et décrire un événement, ouvrir et clore celui-ci, suivre les inscriptions, récupérer la liste des engagés à travers un fichier excel (.csv) et enfin publier les résultats et le classement final.</p>
		
		<p>Les PARTICIPANTS à un événement : ils s’inscrivent à un événement sur l’application, reçoivent des informations sur cet événement, puis ils peuvent consulter le classement général et leur résultat personnel.</p>

		<p>En revanche, pour la création de l’événement, elle concerne une seule discipline mais peut comporter plusieurs épreuves. Le participant peut participer à une/plusieurs épreuves, cela n’est pas interdit. L’inscription du candidat est payante, donc une simulation de paiement sera pris en charge par l’application. Enfin, il n’y a pas besoin de compte et donc aussi de s’identifier pour s’inscrire aux événements qui sont présentées sur l’application.</p>
	</div>
{% endblock %}