{% extends "SportnetSportnetBundle:Default:layout.html.twig" %}

{% block title %}
	{{parent() }} - Accueil Organisateur
{% endblock %}

{% block content %}
<div class="ariane">	
  <ul id="breadcrumb">
    <li><a href=""></a></li>
    <li><a href={{ path('sportnet_sportnet_accueil') }}>Accueil</a></li>
  </ul><br>
  </div>
  <a href= {{ path('sportnet_sportnet_formcreer_event') }}><button class='btn orangebtn'> Créer un événement</button></a>

  <h3><p>Mes évenements : </p></h3>
 
  <table id="tab_org">
    <tr>
      <td>Id</td>
      <td>Nom</td>
      <td>Date de Début</td>
      <td>Date de fin</td>
      <td>Description</td>
      <td>Image</td>
      <td>Modifier</td>
      <td>Epreuves</td>
    </tr>

  
  {% for ev in lesEvents %}
  <form method="POST" action=" {{ path('sportnet_sportnet_gerer_trial') }}">
    <tr>
      <td><input type='text' name ="id" value='{{ev.Id}}'></input></td>
      <td> <input type='text' name="nameEvent" value='{{ev.Name}}'></input> </td>
      <td> <input type='text' name="dateBeginEvent" value='{{ev.Date_begin}}'></input> </td>
      <td> <input type='text' name="dateEndEvent" value='{{ev.Date_end}}'></input></td>
      <td> <input type='text' name="descriptionEvent" value='{{ev.Description}}'></input> </td>
      <td> <input type='text' name="imageEvent" value='{{ev.Image}}'></input></td>
      <td><input class='btn orangebtn' type="submit" name="modifevent" value='Modifier'></td>
      <td><input class='btn orangebtn' type="submit" name="affichtrial" value='Gérer' ></td>
    </tr>
    </form>
  {% endfor %}
  </table>
{% endblock %}