{% extends "SportnetSportnetBundle:Default:layout.html.twig" %}

{% block title %}
  {{parent() }} - Classement étape
{% endblock %}

{% block content %}
<div class="ariane">
  <ul id="breadcrumb">
    <li><a href=""></a></li>
    <li><a href={{ path('sportnet_sportnet_accueil') }}>Accueil</a></li>
    <li><a href={{ path('sportnet_sportnet_past_event') }}>Evénements : {{ Name_event }}</a></li>
    <li><a href={{ path('sportnet_sportnet_past_etape') }}>Etape : {{ Name_trial }}</a></li>
  </ul>
</div>
  <div class="jumbotron">
  <p>Evenements en cours ou à venir : $Nom_de_l'evenement : $nom_epreuve.<br>
  DeSCRIPTION DE L EVENEMENT</p>

  </div><br>
      <div id="classement">
      <p>Classement de l'étape n°1 :</p><br>
      </div>
      <table>
        <tr>
          <th>Rang</th>
          <th>Temps</th>
          <th>N° de Dossard</th>
        </tr>
      {% for infos in leTableau %}
        <tr>
          <td>{{infos.Rank}}</td>
          <td>{{infos.Time_trial}}</td>
          <td>{{infos.Participant_number}}</td>
        </tr>
      {% endfor %}
      </table>
      
{% endblock %}