{% extends "SportnetSportnetBundle:Default:layout.html.twig" %}

{% block title %}
	{{parent() }} - Confirmation Inscription
{% endblock %}


{% block content %}
<div class="ariane">
    <ul id="breadcrumb">
      <li><a href=""></a></li>
      <li><a href={{ path('sportnet_sportnet_accueil') }}>Accueil</a></li>
      <li><a href={{ path('sportnet_sportnet_event') }}>Evénements : {{ Name_event }}</a></li>
      <li><a href={{ path('sportnet_sportnet_etape') }}>Etape : {{ Name_trial }}</a></li>
    </ul>
  </div>
    <div class="jumbotron">
    <div id="confirmation">
      <h3>Confirmation de l'inscription</h3>
<div id="input">
      <p>Nom de l'événement : {{ Name_event }}</p>
      <p>Nom de l'étape : {{ Name_trial }}</p>

      <p>Nom : {{ name }}</p>
      <p>Mail : {{ mail }}</p>
      <p>Prenom : {{ firstname }}</p>
      <p>Age : {{ age }}</p>

      <p>Mode de Paiement : {{ paiement }}</p>
      <p>Prix de l'étape : {{ price }}</p>
      <p>Numéro de carte : {{ num_card }}</p>
</div>
    </div>

    <a href={{ path('sportnet_sportnet_inscrire') }}><button class="btn orangebtn">Confirmer</button></a><br>
    <a href={{ path('sportnet_sportnet_accueil') }}><button class="btn orangebtn">Retour</button></a><br>
    </div><br><br>

{% endblock %}