{% extends "SportnetSportnetBundle:Default:layout.html.twig" %}

{% block title %}
	{{parent() }} - Connexion
{% endblock %}

{% block content %}
<div class="ariane">
  <ul id="breadcrumb">
    <li><a href=""></a></li>
    <li><a href={{ path('sportnet_sportnet_accueil') }}>Accueil</a></li>
  </ul>
</div>
{% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="flash notice">
    <div id="notice">
      <div class="warning_alert"> {{ flashMessage }} </div>
    </div>
  </div>
{% endfor %}
<div class="jumbotron">
<h3>Connectez-vous à votre espace organisateur : </h3>
    <form method="POST" action={{ path('sportnet_sportnet_connexion') }}>
    <div id="input">
      E-mail :<input type="text" name="mail">
      Mot de passe :<input type="password" name="psw">
      </div>
      <div id="valid">
      <input type="submit" name="Connexion" value="Connexion" class="btn orangebtn">
      </div>
    </form>
    <a href="Accueil.html"><button class='btn orangebtn'>Retour</button></a>
</div> 
{% endblock %}