{% extends "SportnetSportnetBundle:Default:layout.html.twig" %}

{% block title %}
	{{parent() }} - Créer un compte
{% endblock %}

{% block content %}
<div class="ariane">
  <ul id="breadcrumb">
    <li><a href=""></a></li>
    <li><a href={{ path('sportnet_sportnet_accueil') }}>Accueil</a></li>
  </ul>
</div>

  {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash notice">
            <div id="notice">
            <div class="warning_alert"> {{ flashMessage }} </div>
            </div>
        </div>
    {% endfor %}

<div class="jumbotron">
	<h3>Créez vous un compte organisateur : </h3>
    <form name="valider" method="POST" action={{ path('sportnet_sportnet_createOrganizer') }}>
    <div id="input">
      E-mail :<input type="text" name="mail">
      MDP :<input type="password" name="psw">
      Confirmer mdp :<input type="password" name="confirm_psw">
      Nom :<input type="text" name="name">
      Prénom :<input type="text" name="firstname">
      </div>
      <div id="valid">
      <input type="submit" name="valider" value="valider" class="btn orangebtn">
      </div>
    </form>
    <a href={{ path('sportnet_sportnet_accueil') }}><button class="btn orangebtn">Retour</button></a>
  </div><br><br>
{% endblock %}