{% extends "SportnetSportnetBundle:Default:layout.html.twig" %}

{% block title %}
	{{parent() }} - Créer un événement
{% endblock %}



{% block content %}
<div class="ariane">
  <ul id="breadcrumb">
    <li><a href=""></a></li>
    <li><a href={{ path('sportnet_sportnet_accueil') }}>Accueil</a></li>
  </ul>
</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash notice">
            <div id="notice">
           <div class="warning_alert"> {{ flashMessage }} </div>
            </div>
        </div>
    {% endfor %}

        <form method="POST" action={{ path('sportnet_sportnet_creer_event') }}>
          <label class="labelevent">Nom* : </label><input type="text" name="nom"><br>
          <label class="labelevent">Date de début* : </label><input type="text" name="datedebut"><br>
          <label class="labelevent">Date de fin* : </label><input type="text" name="datefin"><br>
          <label class="labelevent">Description* : </label><input type="text" name="description"><br>
          <label class="labelevent">Image : </label><input type="text" name="image"><br>
          <label class="labelevent"><input type="submit" name="creerEvent" value="Creer" class="btn orangebtn "></label>
         
        </form>
         <a href={{ path('sportnet_sportnet_accueil') }}><button class="btn orangebtn ">Retour</button></a>
{% endblock %}