{% extends "SportnetSportnetBundle:Default:layout.html.twig" %}

{% block title %}
	{{parent() }} - Créer une étape
{% endblock %}

{% block content %}
<div class="ariane">
<ul id="breadcrumb">
    <li><a href=""></a></li>
    <li><a href={{ path('sportnet_sportnet_accueil') }}>Accueil</a></li>
    <li><a href={{ path('sportnet_sportnet_gerer_trial') }}></a></li>
  </ul>
</div>

  {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash notice">
            <div id="notice">
           <div class="warning_alert"> {{ flashMessage }} </div>
            </div>
        </div>
    {% endfor %}


        <form  method="POST" action="{{ path('sportnet_sportnet_creer_trial') }}">
          <label>Nom* : </label><input type="text" name="nameTri"><br>
          <label>Date de début* : </label><input type="text" name="dateBeginTri"><br>
          <label>Date de fin* : </label><input type="text" name="dateEndTri"><br>
          <label>Lieu* : </label><input type="text" name="localityTri"><br>
          <label>Participants Max* : </label><input type="text" name="maxParticipantsTri"><br>
          <label>Prix* : </label><input type="text" name="priceTri"><br>
          <label>Age minimum* : </label><input type="text" name="ageMinTri"><br>
          <label>Age maximum* : </label><input type="text" name="ageMaxTri"><br>
          <label>Image : </label><input type="text" name="imageTri"><br>
          <label>Close* : </label><select name="close">
          <option value="Ouvert">Ouvert</option>
          <option value="Clôt">Clôt</option></select><br>

          <label>Sport* : </label><select name='sport'>
          {% for sp in lesSports %}
          <option value="{{sp.Id}}">{{sp.Name}}</option> 
          {% endfor %}
          </select><br>

          <label><input type="submit" name="creerTrial" value="Creer" class="btn orangebtn "></label>
          
        </form>
        <a href={{ path('sportnet_sportnet_accueil') }}><button class="btn orangebtn ">Retour</button></a>
{% endblock %}