{% extends "SportnetSportnetBundle:Default:layout.html.twig" %}

{% block title %}
	{{parent() }} - Etape
{% endblock %}

{% block content %}
  <ul id="breadcrumb">
    <li><a href=""></a></li>
    <li><a href={{ path('sportnet_sportnet_accueil') }}>Accueil</a></li>
    <li><a href={{ path('sportnet_sportnet_event') }}>Evénements : {{ Name_event }}</a></li>
    <li><a href={{ path('sportnet_sportnet_etape') }}>Etape</a></li>
  </ul>
  <div class="flex">
    {% for infos in lesEtapes %}
    <div class="button{{infos.Id}}">
      <style>
        .button{{infos.Id}}{
          background-image: url("{{infos.Image}}");
          color: black;
          width: 32%;
          height: 45%;
          padding: 0;
          margin: auto;
          border: 2px solid black;
          border-radius:10px;
          opacity: 0.4;
          transition:0.8s;
        }

        .button{{infos.Id}}:hover{
          opacity: 1;
        }

        .button{
          cursor: pointer;
        }

        input{
          margin: 2%;
        }
      </style>
      <form action="{{ path('sportnet_sportnet_inscriptions_epreuve') }}">    
        <div id="input">
          <div id="valid">  
            <input   type="text" name="id" class="display" value="{{ infos.Id }}">
            <input type="submit" name="detailetape" class="button" value="{{ infos.Name }} Date:{{ infos.Date_begin }}">     
          </div>
        </div> 
      </form>
    </div>
  {% endfor %}
  </div>
{% endblock %}