{% extends "SportnetSportnetBundle:Default:layout.html.twig" %}

{% block title %}
	{{parent() }} - Evénement
{% endblock %}

{% block content %}
<div class="ariane">
	<ul id="breadcrumb">
		<li><a href=""></a></li>
		<li><a href={{ path('sportnet_sportnet_accueil') }}>Accueil</a></li>
		<li><a href={{ path('sportnet_sportnet_event') }}>Evénements</a></li>
	</ul>
</div>

		{% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash notice">
            <div id="notice">
            <div class="warning_alert"> {{ flashMessage }} </div>
            </div>
        </div>
    {% endfor %}

	<h3>Evénements en cours ou à venir :</h3>
	<div class="flex">
  	{% for infos in lesEvents %}
	    <div class="button{{infos.Id}}">
	    	<style>
		    .button{{infos.Id}}{
		      background-image: url("{{infos.Image}}");
		      color: black;
		      width: 32%;
		      height: 45%;
		      padding: 0;
		      margin: auto;
		      border: 2px solid black;
		      border-radius:10px;
		      opacity: 0.4;
		      transition:0.8s;
		    }

		    .button{{infos.Id}}:hover{
		      opacity: 1;
		    }

		    .button{
		      cursor: pointer;
		    }

		    input{
		      margin: 2%;
		    }
		    </style>
	      <form method="POST" action="{{ path('sportnet_sportnet_etape') }}">   
	      <div id="input">
          <div id="valid">   
	        <input   type="text" name="id" class="display" value="{{ infos.Id }}">
	        <input type="submit" name="detailevent" class="button" value="{{ infos.Name }} Date:{{ infos.Date_begin }}">
	        </div>
        </div>      
	      </form>
	    </div>
  	{% endfor %}
  </div>
{% endblock %}