{% extends "SportnetSportnetBundle:Default:layout.html.twig" %}

{% block title %}
	{{parent() }} - Gérer épreuves
{% endblock %}

{% block content %}
<div class="ariane">
<ul id="breadcrumb">
    <li><a href=""></a></li>
    <li><a href={{ path('sportnet_sportnet_accueil') }}>Accueil</a></li>
  </ul>
  </div>
  <a href= {{ path('sportnet_sportnet_formcreate_trial') }}><button class='btn orangebtn'> Créer une étape</button></a>

	<h3><p>Mes futurs évenements : </p></h3>
 
  <table id="tab_org">
    <tr>
   	  <td>Id</td>
      <td>Nom</td>
      <td>Date de Début</td>
      <td>Date de fin</td>
      <td>Lieu</td>
      <td>Prix</td>
      <td>Age Min</td>
      <td>Age Max</td>
      <td>Participant max</td>
      <td>Candidature</td>
      <td>Image</td>
      <td>Modifier</td>
    </tr>

{% for tri in lesTrials %}
  <form method="POST" action=" {{ path('sportnet_sportnet_modif_trial') }}">
    <tr>
      <td> <input type='text' name='idTrial' value='{{tri.Id}}'></input> </td>
      <td> <input type='text' name='nameTrial' value='{{tri.Name}}'></input> </td>
      <td> <input type='text' name='dateBeginTrial' value='{{tri.Date_begin}}'></input> </td>
      <td> <input type='text' name='dateEndTrial' value='{{tri.Date_end}}'></input> </td>
      <td> <input type='text' name='localityTrial' value='{{tri.Locality}}'></input></td>
      <td> <input type='text' name='priceTrial' value='{{tri.Price}}'></input></td>
      <td> <input type='text' name='ageMinTrial' value='{{tri.Age_min}}'></input></td>
      <td> <input type='text' name='ageMaxTrial' value='{{tri.Age_max}}'></input></td>
      <td> <input type='text' name='maxParticipantsTrial' value='{{ tri.Max_participants}}'></input></td>
      <td> <input type='text' name='closeTrial' value='{{tri.Close}}'></input></td>
      <td> <input type='text' name='imageTrial' value='{{tri.Image}}'></input></td>
      <td><input class='btn orangebtn' type="submit" name="modiftrial" value='Modifier'></td>
    </tr>
    </form>
  {% endfor %}
  </table>
{% endblock %}
