{% extends "SportnetSportnetBundle:Default:layout.html.twig" %}

{% block title %}
	{{parent() }} - Inscriptions aux épreuves
{% endblock %}

{% block content %}
<div class="ariane">
  <ul id="breadcrumb">
    <li><a href=""></a></li>
    <li><a href={{ path('sportnet_sportnet_accueil') }}>Accueil</a></li>
    <li><a href={{ path('sportnet_sportnet_event') }}>Evénements : {{ Name_event }}</a></li>
    <li><a href={{ path('sportnet_sportnet_etape') }}>Etape : {{ Name_trial }}</a></li>
  </ul>
</div>
<div class='Epreuves'>
  <div class="jumbotron descriptionEpreuve">
    {% for Infos in Infos %}
      <p>Nom : {{Infos.Name}}</p>
      <p>Date début : {{Infos.Date_begin}}</p>
      <p>Date de fin : {{Infos.Date_end}}</p>
      <p>Lieu : {{Infos.Locality}}</p>
      <p>Participants maximum : {{Infos.Max_participants}}</p>
      <p>Prix d'inscription : {{Infos.Price}}</p>
      <p>Age minimum : {{Infos.Age_min}}</p>
      <p>Age maximum : {{Infos.Age_max}}</p>
      <p>Inscription : {{Infos.Close}}</p>
    {% endfor %}
  </div>
    <div class="jumbotron inscriptionEpreuve">
      <h3>Inscrivez-vous à l'épreuve : </h3>
      <form method="POST" action={{ path('sportnet_sportnet_confirmation_inscriptions') }}><br>
        <div id="input">
          Nom :<input type="text" name="Name">
          Prénom :<input type="text" name="Firstname">
            E-mail :<input type="mail" name="Mail">
            Age : <input type="text" name="Age">
            Mode de paiement : <SELECT name="paiement" size="1">
              						        <OPTION value="visa">Visa</OPTION>
              						        <OPTION value="paypal">Paypal</OPTION>
              						        <OPTION value="master">Master card</OPTION>
          						        </SELECT>
          	N° de Carte : <input type="text" name="num_card">
          	Crypto : <input type="password" name="crypto">
          	Date expiration : <input type="text" name="date_expi">
          </div>
          <div id="valid">
          <input type="submit" name="subscribe" value="S'inscrire" class="btn orangebtn">
          </div>
        </form>    
        <a href={{ path('sportnet_sportnet_accueil') }}><button class="btn orangebtn">Retour</button></a><br>
    </div><br><br>
  </div>
{% endblock %}