<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>
			{% block title %}
				Sportnet
			{% endblock %}
		</title>
		<meta http-equiv="Content-Language" content="fr">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		
		{% stylesheets '@SportnetSportnetBundle/Resources/public/CSS/main.css' filter='cssrewrite' %}
            <link href="{{ asset_url }}" rel="stylesheet" media="screen">
        {% endstylesheets %}
		
	</head>
	<body>
		<header>
			<img src="{{ asset('IMAGES/Ologo.png') }}">
			<a href={{ path('sportnet_sportnet_accueil') }}><h1>SPORTNET</h1></a>
			<div>
				{% if app.session.has('mail') %}
					<a href={{ path('sportnet_sportnet_deconnexion') }}><button>Déconnexion</button></a>
				{% else %}
					<a href={{ path('sportnet_sportnet_connexionform') }}><button>Connexion</button></a>
					<a href={{ path('sportnet_sportnet_creer_compte') }}><button>Créer un compte</button></a>
				{% endif %}
			</div>
		</header>
		<nav role="navigation" class="menu">
			<ul>
				<li><a href={{ path('sportnet_sportnet_event') }}>Evénements en cours ou à venir</a></li>
				<li><a href={{ path('sportnet_sportnet_past_event') }}>Evénements passés</a></li>
				<li class="ingred"><a href="">Mon N° de participant</a>
					<ul class="submenu">
						<li><a href={{ path('sportnet_sportnet_mes_inscriptions') }}>Mes inscriptions</a></li>
						<li><a href={{ path('sportnet_sportnet_mon_classement') }}>Mon classement</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		{% block content %}
		{% endblock %}
	</body>
</html>