{% extends "SportnetSportnetBundle:Default:layout.html.twig" %}

{% block title %}
	{{parent() }} - Mes inscriptions
{% endblock %}

{% block content %}
<div class="ariane">
<ul id="breadcrumb">
    <li><a href=""></a></li>
    <li><a href={{ path('sportnet_sportnet_accueil') }}>Accueil</a></li>
    <li><a href={{ path('sportnet_sportnet_mes_inscriptions') }}></a></li>
  </ul>
 <div>
<div class="jumbotron">
	<form action={{ path('sportnet_sportnet_mes_inscriptions') }} method="POST">
	<div id="input">
		Votre numéro de participant : <input type="text" name="id_participant">
		</div>
		<div id="valid">
		<input type="submit" name="inscription" value="Rechercher" class="btn orangebtn">
		</div>
	</form>
</div><br><br>
	{% if app.session.has('inscription') %}
		<table>	
			<tr>
				<th>Nom</th>
				<th>Date début</th>
				<th>Date fin</th>
				<th>Lieux</th>
				<th>Inscriptions</th>
				<th>Sport</th>
			</tr>		
			{% for infos in leTableau %}
				<tr>
					<td>{{ infos.Name }}</td>
					<td>{{ infos.Date_begin }}</td>
					<td>{{ infos.Date_end }}</td>
					<td>{{ infos.Locality }}</td>
					<td>{{ infos.Close }}</td>
					<td>{{ infos.Sport }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}

{% endblock %}