{% extends "SportnetSportnetBundle:Default:layout.html.twig" %}

{% block title %}
	{{parent() }} - Mon classement
{% endblock %}

{% block content %}
<div class="ariane">
<ul id="breadcrumb">
    <li><a href=""></a></li>
    <li><a href={{ path('sportnet_sportnet_accueil') }}>Accueil</a></li>
    <li><a href={{ path('sportnet_sportnet_mon_classement') }}></a></li>
  </ul>
 </div>
<div class="jumbotron">
	<form action={{ path('sportnet_sportnet_mon_classement') }} method="POST">
	<div id="input">
		Votre numéro de participant : <input type="text" name="id_participant">
		</div>
		<div id="valid">
		<input type="submit" name="classement" value="Rechercher" class="btn orangebtn">
		</div>
	</form>
</div><br><br>
	{% if app.session.has('classement') %}
		<table>	
			<tr>
				<th>Rank</th>
				<th>Temps</th>
				<th>Nom de l'étape</th>
			</tr>		
			{% for infos in leTableau %}
				<tr>
					<td>{{ infos.Rank }}</td>
					<td>{{ infos.Time_trial }}</td>
					<td>{{ infos.Name }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}