{% extends "SportnetSportnetBundle:Default:layout.html.twig" %}

{% block title %}
	{{parent() }} - Evénements passés
{% endblock %}

{% block content %}
<div class="ariane">
<ul id="breadcrumb">
		<li><a href=""></a></li>
		<li><a href={{ path('sportnet_sportnet_accueil') }}>Accueil</a></li>
		<li><a href={{ path('sportnet_sportnet_past_event') }}>Evénements</a></li>
	</ul>
  </div>
<h3>Evénements Passés :</h3>
<div class="flex">
  {% for infos in leTableau %}
  <div class="button{{infos.Id}}">
    <style>
    .button{{infos.Id}}{
      background-image: url("{{infos.Image}}");
      color: black;
      width: 32%;
      height: 45%;
      padding: 0;
      margin: auto;
      border: 2px solid black;
      border-radius:10px;
      opacity: 0.4;
      transition:0.8s;
    }

    .button{{infos.Id}}:hover{
      opacity: 1;
    }

    .button{
      cursor: pointer;
    }

    input{
      margin: 2%;
    }

    @media screen and (max-width: 640px){
      .button{{infos.Id}}{
        width: auto;
        display: none;
      }

      input button{
        width: 10%;
      }
    }
    </style>

      <form action="{{path('sportnet_sportnet_past_etape')}}">
      <div id="input">
        <div id="valid">
          <input  type="text" name="id" class="display" value="{{infos.Id}}">
          <input type="submit" class="button" name="detailevent" value="{{infos.Name}} Date de début : {{infos.Date_begin}}" >
        </div>
        </div>
      </form>
    </div><br><br>
  {% endfor %}
</div>
{% endblock %}