@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

h1 {
  font-size: 2.8em;
  font-style: normal;
  font-weight: bold;
  color: black;
  font-family: "Times New Roman", Times, serif;
  /*-- La taille du titre est diminu├®e, et la couleur est chang├®e --*/ }
  h1.small {
    font-size: 2.3em;
    color: grey; }

h2 {
  font-size: 2.2em;
  font-style: normal;
  font-weight: bold;
  color: black;
  font-family: "Times New Roman", Times, serif;
  /*-- La taille du titre est diminu├®e, et la couleur est chang├®e --*/ }
  h2.small {
    font-size: 1.7em;
    color: grey; }

h3 {
  font-size: 1.6em;
  font-style: normal;
  font-weight: bold;
  color: black;
  font-family: "Times New Roman", Times, serif;
  /*-- La taille du titre est diminu├®e, et la couleur est chang├®e --*/ }
  h3.small {
    font-size: 1.3em;
    color: grey; }

h4 {
  font-size: 1.25em;
  font-style: normal;
  font-weight: bold;
  color: black;
  font-family: "Times New Roman", Times, serif;
  /*-- La taille du titre est diminu├®e, et la couleur est chang├®e --*/ }
  h4.small {
    font-size: 1.1em;
    color: grey; }

h5 {
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  color: black;
  font-family: "Times New Roman", Times, serif;
  /*-- La taille du titre est diminu├®e, et la couleur est chang├®e --*/ }
  h5.small {
    font-size: 0.9em;
    color: grey; }

h6 {
  font-size: 0.8em;
  font-style: normal;
  font-weight: bold;
  color: black;
  font-family: "Times New Roman", Times, serif;
  /*-- La taille du titre est diminu├®e, et la couleur est chang├®e --*/ }
  h6.small {
    font-size: 0.7em;
    color: grey; }

/* Le texte en question sera plus petit */
small {
  font-size: smaller;
  color: grey; }

body > p {
  margin-bottom: 1em;
  text-indent: 1em;
  line-height: 1.2; }

mark {
  color: white;
  background-color: #0671CE;
  font-weight: bold;
  font-style: normal;
  padding-right: 4px;
  padding-left: 4px; }

del {
  color: black;
  font-weight: normal;
  font-style: oblique;
  padding-right: 4px;
  padding-left: 4px; }

ins {
  color: white;
  font-weight: normal;
  font-style: oblique;
  background-color: #0671CE;
  padding-right: 4px;
  padding-left: 4px; }

u {
  color: black;
  font-weight: normal;
  font-style: normal;
  padding-left: 4px;
  padding-right: 4px; }

strong {
  color: black;
  font-weight: bold;
  font-style: normal;
  font-family: Arial, Sans-Serif;
  padding-left: 4px;
  padding-right: 4px; }

em {
  color: black;
  font-weight: normal;
  font-style: oblique; }

abbr {
  color: black;
  font-weight: normal;
  font-style: normal; }

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 1em;
  font-family: comics;
  font-style: oblique;
  color: #0671CE;
  background-color: #D1E3FB;
  border: 1px solid #0671CE;
  border-radius: 5px; }

code {
  font-family: monospace;
  font-size: smaller;
  color: black;
  display: block;
  padding: 1em;
  margin: 1em;
  line-height: 1.25; }

pre {
  display: block;
  font-size: smaller;
  font-style: normal;
  color: black;
  margin-left: 1em; }

kbd {
  background-color: #D1E3FB;
  color: black;
  border: 1px solid #0671CE;
  border-radius: 4px;
  padding: 2px; }

ul {
  margin-left: 2em;
  font-weight: bold;
  color: #0671CE;
  margin-bottom: 1em;
  margin-top: 1em; }
  ul.squareli li {
    color: grey;
    list-style-type: square;
    margin-left: 2em;
    font-weight: normal; }
  ul.noneli li {
    color: grey;
    list-style-type: none;
    margin-left: 2em;
    font-weight: normal; }

.left_align {
  text-align: left; }

.center_align {
  text-align: center; }

.right_align {
  text-align: right; }

.justify_align {
  text-align: justify; }

.uppertext {
  text-transform: uppercase; }

.lowertext {
  text-transform: lowercase; }

.bord {
  border: 1px solid #0671CE;
  padding: 1em;
  margin: 1em;
  width: auto;
  border-radius: 4px; }

.survol:hover {
  color: #0671CE;
  padding: 0;
  margin: 0; }

.btn {
  font-size: 0.95em;
  padding: 0.25em;
  margin: 1em;
  padding: 0.5em;
  text-align: center;
  background-color: #0671CE;
  color: white;
  border: 1px solid #D1E3FB;
  border-radius: 5px;
  cursor: pointer; }
  .btn:hover {
    background: linear-gradient(top, #4a9cff 0%, #3082F4 100%);
    background: -moz-linear-gradient(top, #4a9cff 0%, #3082F4 100%);
    background: -webkit-linear-gradient(top, #4a9cff 0%, #3082F4 100%);
    background: -o-linear-gradient(top, #4a9cff 0%, #3082F4 100%);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s; }
  .btn:active {
    opacity: 0.8; }

.btnlarge {
  font-size: 1.1em;
  line-height: 1.2;
  padding: 0.7em;
  border-radius: 5px; }

.btnsmall {
  font-size: 0.75em;
  line-height: 1em;
  padding: 0.5em;
  border-radius: 0px; }

.whitebtn {
  background: white;
  color: #0671CE;
  border: 1px solid #D1E3FB; }
  .whitebtn:hover {
    background: linear-gradient(top, #D2E4FA 0%, #ACCDF9 100%);
    background: -moz-linear-gradient(top, #D2E4FA 0%, #ACCDF9 100%);
    background: -webkit-linear-gradient(top, #D2E4FA 0%, #ACCDF9 100%);
    background: -o-linear-gradient(top, #D2E4FA 0%, #ACCDF9 100%); }
  .whitebtn:active {
    opacity: 0.8; }

.orangebtn {
  background-color: #FEFEFE;
  color: #FE7632;
  border: 1px solid #FE7632; }
  .orangebtn:hover {
    background: linear-gradient(top, #E69C3A 0%, #FE7632 100%);
    background: -moz-linear-gradient(top, #E69C3A 0%, #FE7632 100%);
    background: -webkit-linear-gradient(top, #E69C3A 0%, #FE7632 100%);
    background: -o-linear-gradient(top, #E69C3A 0%, #FE7632 100%);
    color: white; }
  .orangebtn:active {
    opacity: 0.8; }

.redbtn {
  background-color: #FEFEFE;
  color: #D8012C;
  border: 1px solid #D8012C; }
  .redbtn:hover {
    background: linear-gradient(top, #A50021 0%, #D8012C 100%);
    background: -moz-linear-gradient(top, #A50021 0%, #D8012C 100%);
    background: -webkit-linear-gradient(top, #A50021 0%, #D8012C 100%);
    background: -o-linear-gradient(top, #A50021 0%, #D8012C 100%);
    color: white; }
  .redbtn:active {
    opacity: 0.8; }

.fatbtn {
  padding: 0;
  border: none;
  background-color: lightblue;
  color: black;
  border-radius: 0; }
  .fatbtn:hover {
    background: linear-gradient(top, lightblue 0%, lightblue 100%);
    background: -moz-linear-gradient(top, lightblue 0%, lightblue 100%);
    background: -webkit-linear-gradient(top, lightblue 0%, lightblue 100%);
    background: -o-linear-gradient(top, lightblue 0%, lightblue 100%);
    color: black; }

.extralargebtn {
  width: 100%;
  margin-left: 0;
  margin-right: 0; }

.fancybtn {
  font-weight: bold;
  -webkit-box-shadow: 10px 10px 10px;
  -moz-box-shadow: 10px 10px 10px;
  box-shadow: 10px 10px 10px;
  text-shadow: 0px 0px 9px black; }
  .fancybtn:hover {
    -webkit-box-shadow: 2px 2px 2px;
    -moz-box-shadow: 2px 2px 2px;
    box-shadow: 2px 2px 2px;
    text-shadow: 0px 0px 9px white; }
  .fancybtn:active {
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
    transition: all 10ms; }

.success_alert {
  background-color: #B0FAB2;
  color: #007B10;
  font-weight: bold;
  border: 1px solid #007B10;
  border-radius: 10px;
  padding-left: 5%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2em;
  margin-bottom: 2em;
  /* When moving the mouse over the close button */ }
  .success_alert .closebtn {
    margin: 0;
    color: #007B10;
    font-weight: bold;
    float: right;
    font-size: 1.5em;
    line-height: 20px;
    cursor: pointer;
    transition: 0.5s;
    padding-right: 5%; }
  .success_alert .closebtn:hover {
    color: black; }

.info_alert {
  background-color: #B1C1FF;
  color: #0024B2;
  font-weight: bold;
  border: 1px solid #0024B2;
  border-radius: 10px;
  padding-left: 5%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2em;
  margin-bottom: 2em;
  /* When moving the mouse over the close button */ }
  .info_alert .closebtn {
    margin: 0;
    color: #0024B2;
    font-weight: bold;
    float: right;
    font-size: 1.5em;
    line-height: 20px;
    cursor: pointer;
    transition: 0.5s;
    padding-right: 5%; }
  .info_alert .closebtn:hover {
    color: black; }

.warning_alert {
  background-color: #FEBE8D;
  color: #F36900;
  font-weight: bold;
  border: 1px solid #F36900;
  border-radius: 10px;
  padding-left: 5%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2em;
  margin-bottom: 2em;
  /* When moving the mouse over the close button */ }
  .warning_alert .closebtn {
    margin: 0;
    color: #F36900;
    font-weight: bold;
    float: right;
    font-size: 1.5em;
    line-height: 20px;
    cursor: pointer;
    transition: 0.5s;
    padding-right: 5%; }
  .warning_alert .closebtn:hover {
    color: black; }

.danger_alert {
  background-color: #FDABAB;
  color: #E30101;
  font-weight: bold;
  border: 1px solid #E30101;
  border-radius: 10px;
  padding-left: 5%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2em;
  margin-bottom: 2em;
  /* When moving the mouse over the close button */ }
  .danger_alert .closebtn {
    margin: 0;
    color: #E30101;
    font-weight: bold;
    float: right;
    font-size: 1.5em;
    line-height: 20px;
    cursor: pointer;
    transition: 0.5s;
    padding-right: 5%; }
  .danger_alert .closebtn:hover {
    color: black; }

header {
  background-color: white;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em; }

.jumbotron {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 2em;
  padding-right: 2em;
  padding-left: 2em;
  border-radius: 10px;
  border: 1px solid #0671CE;
  background-color: #eee;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
