html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  width: 100%; }

#title {
  width: 80%;
  display: block;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  color: darkred;
  font-size: 24px;
  background: lightgrey;
  border-left: 2px solid darkred;
  border-right: 2px solid darkred; }

#My-lightbox-gallery {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }
  #My-lightbox-gallery .vignette {
    background: lightgrey;
    padding: 5px;
    padding-top: 15px;
    margin: 10px;
    margin-top: 20px;
    color: darkred;
    font-size: 1em;
    text-align: center;
    width: 200px;
    height: 140px;
    border: 2px solid darkred;
    border-radius: 10px;
    cursor: pointer; }
    #My-lightbox-gallery .vignette img {
      width: 94%;
      height: 80%;
      margin-bottom: 5px;
      border-radius: 50px; }
  #My-lightbox-gallery .vignette:hover {
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.75);
    background: rgba(255, 255, 255, 0.6); }
    #My-lightbox-gallery .vignette:hover img {
      opacity: 0.4; }

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  overflow: auto; }
  .modal #modal_close {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 8%;
    width: 3%;
    padding: 0.4em;
    z-index: 99;
    cursor: pointer; }
  .modal #modal_content {
    box-sizing: border-box;
    background-color: black;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    position: relative;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 4%;
    padding-bottom: 2%;
    overflow: auto; }
  .modal #slider {
    width: 80%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: 99999; }
  .modal .slidingContent {
    box-sizing: border-box;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000000;
    color: white;
    display: none;
    padding-bottom: 10px;
    padding-top: 10px; }
    .modal .slidingContent button {
      margin-left: 5px; }
  .modal #showContent {
    box-sizing: border-box;
    width: 80%;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: 1.2em;
    border: none;
    cursor: pointer; }
  .modal #showContent:focus {
    outline: 0; }
  .modal .comContent {
    color: white;
    font-size: 1.2em;
    padding-bottom: 1em; }

.img {
  width: 100%;
  height: 100%; }

.titre {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  color: white;
  font-size: 1.4em;
  border: none;
  text-align: center;
  padding-top: 1%; }

#modal_next, #modal_previous {
  position: absolute;
  top: 45%;
  padding: 8px 12px;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  z-index: 9999;
  border: none; }

#modal_next {
  right: 2%; }

#modal_previous {
  left: 2%; }

/*
.lb_previous, .lb_next {
	position: absolute;
	top:45%;
	padding: 8px 12px;
	font-family: websymbols;
	font-size: 14px;
	background-color: black;
	color:white;
	border:none;
	cursor: pointer;
	opacity:1;
	font-size: 1.5em;
	z-index:9999;
	margin-top: auto;
	margin-bottom: auto;
}
.lb_previous {
	left: 0;
}
.lb_next {
	right: 0;
}
.lb_title {
	position:fixed;
	text-align: center;
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	padding: 5px 0;
	font-weight: bold;
	bottom: 10px;
	z-index:999;
	background: rgba(0, 0, 0, 0.9);
	width:50%;
	left: 0; right: 0; margin: 0 auto
}
*/

/*# sourceMappingURL=main.css.map */
