@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 10px; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

h1 {
  font-size: 2.8em;
  font-style: normal;
  font-weight: bold;
  color: black;
  font-family: Arial;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-decoration: none;
  /*-- La taille du titre est diminuée, et la couleur est changée --*/ }
  h1.small {
    font-size: 2.3em;
    color: grey; }

h2 {
  font-size: 2.2em;
  font-style: normal;
  font-weight: bold;
  color: black;
  font-family: Arial;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  /*-- La taille du titre est diminuée, et la couleur est changée --*/ }
  h2.small {
    font-size: 1.7em;
    color: grey; }

h3 {
  font-size: 1.6em;
  font-style: normal;
  font-weight: bold;
  color: black;
  font-family: Arial;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  /*-- La taille du titre est diminuée, et la couleur est changée --*/ }
  h3.small {
    font-size: 1.3em;
    color: grey; }

h4 {
  font-size: 1.25em;
  font-style: normal;
  font-weight: bold;
  color: black;
  font-family: Arial;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  /*-- La taille du titre est diminuée, et la couleur est changée --*/ }
  h4.small {
    font-size: 1.1em;
    color: grey; }

h5 {
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  color: black;
  font-family: Arial;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  /*-- La taille du titre est diminuée, et la couleur est changée --*/ }
  h5.small {
    font-size: 0.9em;
    color: grey; }

h6 {
  font-size: 0.8em;
  font-style: normal;
  font-weight: bold;
  color: black;
  font-family: Arial;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  /*-- La taille du titre est diminuée, et la couleur est changée --*/ }
  h6.small {
    font-size: 0.7em;
    color: grey; }

/* Le texte en question sera plus petit */
small {
  font-size: smaller;
  color: grey; }

body {
  margin-bottom: 1.5em; }
  body > p {
    margin-bottom: 1em;
    text-indent: 1em;
    line-height: 1.2; }

mark {
  color: white;
  background-color: #0671CE;
  font-weight: bold;
  font-style: normal;
  padding-right: 4px;
  padding-left: 4px; }

del {
  color: black;
  font-weight: normal;
  font-style: oblique;
  padding-right: 4px;
  padding-left: 4px; }

ins {
  color: white;
  font-weight: normal;
  font-style: oblique;
  background-color: #0671CE;
  padding-right: 4px;
  padding-left: 4px; }

u {
  color: black;
  font-weight: normal;
  font-style: normal;
  padding-left: 4px;
  padding-right: 4px; }

strong {
  color: black;
  font-weight: bold;
  font-style: normal;
  font-family: Arial, Sans-Serif;
  padding-left: 4px;
  padding-right: 4px; }

em {
  color: black;
  font-weight: normal;
  font-style: oblique; }

abbr {
  color: black;
  font-weight: normal;
  font-style: normal; }

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 1em;
  font-family: comics;
  font-style: oblique;
  color: #0671CE;
  background-color: #D1E3FB;
  border: 1px solid #0671CE;
  border-radius: 5px; }

code {
  font-family: monospace;
  font-size: smaller;
  color: black;
  display: block;
  padding: 1em;
  margin: 1em;
  line-height: 1.25; }

pre {
  display: block;
  font-size: smaller;
  font-style: normal;
  color: black;
  margin-left: 1em; }

kbd {
  background-color: #D1E3FB;
  color: black;
  border: 1px solid #0671CE;
  border-radius: 4px;
  padding: 2px; }

ul {
  margin-left: 2em;
  font-weight: bold;
  color: #0671CE;
  margin-bottom: 1em;
  margin-top: 1em; }
  ul.squareli li {
    color: grey;
    list-style-type: square;
    margin-left: 2em;
    font-weight: normal; }
  ul.noneli li {
    color: grey;
    list-style-type: none;
    margin-left: 2em;
    font-weight: normal; }

.left_align {
  text-align: left; }

.center_align {
  text-align: center; }

.right_align {
  text-align: right; }

.justify_align {
  text-align: justify; }

.uppertext {
  text-transform: uppercase; }

.lowertext {
  text-transform: lowercase; }

.bord {
  border: 1px solid #0671CE;
  padding: 1em;
  margin: 1em;
  width: auto;
  border-radius: 4px; }

.survol:hover {
  color: #0671CE;
  padding: 0;
  margin: 0; }

.automargin {
  margin-left: auto;
  margin-right: auto; }

.btn {
  font-size: 0.95em;
  padding: 0.25em;
  text-align: center;
  background-color: #0671CE;
  color: white;
  border: 1px solid #D1E3FB;
  border-radius: 5px;
  cursor: pointer;
  width: 10em;
  height: auto; }
  .btn:hover {
    background: linear-gradient(top, #4a9cff 0%, #3082F4 100%);
    background: -moz-linear-gradient(top, #4a9cff 0%, #3082F4 100%);
    background: -webkit-linear-gradient(top, #4a9cff 0%, #3082F4 100%);
    background: -o-linear-gradient(top, #4a9cff 0%, #3082F4 100%);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s; }
  .btn:active {
    opacity: 0.8; }

.btnlarge {
  font-size: 1.1em;
  line-height: 1.2;
  padding: 0.7em;
  border-radius: 5px; }

.btnsmall {
  font-size: 0.75em;
  line-height: 1em;
  padding: 0.5em;
  border-radius: 0px; }

.whitebtn {
  background: white;
  color: #0671CE;
  border: 1px solid #D1E3FB; }
  .whitebtn:hover {
    background: linear-gradient(top, #D2E4FA 0%, #ACCDF9 100%);
    background: -moz-linear-gradient(top, #D2E4FA 0%, #ACCDF9 100%);
    background: -webkit-linear-gradient(top, #D2E4FA 0%, #ACCDF9 100%);
    background: -o-linear-gradient(top, #D2E4FA 0%, #ACCDF9 100%); }
  .whitebtn:active {
    opacity: 0.8; }

.orangebtn {
  background-color: #FEFEFE;
  color: black;
  border: 1px solid #FE7632; }
  .orangebtn:hover {
    background: linear-gradient(top, #E69C3A 0%, #FE7632 100%);
    background: -moz-linear-gradient(top, #E69C3A 0%, #FE7632 100%);
    background: -webkit-linear-gradient(top, #E69C3A 0%, #FE7632 100%);
    background: -o-linear-gradient(top, #E69C3A 0%, #FE7632 100%);
    color: white; }
  .orangebtn:active {
    opacity: 0.8; }

.redbtn {
  background-color: #FEFEFE;
  color: #D8012C;
  border: 1px solid #D8012C; }
  .redbtn:hover {
    background: linear-gradient(top, #A50021 0%, #D8012C 100%);
    background: -moz-linear-gradient(top, #A50021 0%, #D8012C 100%);
    background: -webkit-linear-gradient(top, #A50021 0%, #D8012C 100%);
    background: -o-linear-gradient(top, #A50021 0%, #D8012C 100%);
    color: white; }
  .redbtn:active {
    opacity: 0.8; }

.fatbtn {
  padding: 0;
  border: none;
  background-color: lightblue;
  color: black;
  border-radius: 0; }
  .fatbtn:hover {
    background: linear-gradient(top, lightblue 0%, lightblue 100%);
    background: -moz-linear-gradient(top, lightblue 0%, lightblue 100%);
    background: -webkit-linear-gradient(top, lightblue 0%, lightblue 100%);
    background: -o-linear-gradient(top, lightblue 0%, lightblue 100%);
    color: black; }

.extralargebtn {
  width: 100%;
  margin-left: 0;
  margin-right: 0; }

.fancybtn {
  font-weight: bold;
  -webkit-box-shadow: 10px 10px 10px;
  -moz-box-shadow: 10px 10px 10px;
  box-shadow: 10px 10px 10px;
  text-shadow: 0px 0px 9px black; }
  .fancybtn:hover {
    -webkit-box-shadow: 2px 2px 2px;
    -moz-box-shadow: 2px 2px 2px;
    box-shadow: 2px 2px 2px;
    text-shadow: 0px 0px 9px white; }
  .fancybtn:active {
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
    transition: all 10ms; }

#tab_org input {
  text-align: center;
  border: solid 0px;
  width: 100%;
  margin: 0;
  height: auto; }

.success_alert {
  background-color: #B0FAB2;
  color: #007B10;
  font-weight: bold;
  border: 1px solid #007B10;
  border-radius: 10px;
  padding-left: 5%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2em;
  margin-bottom: 2em;
  /* When moving the mouse over the close button */ }
  .success_alert .closebtn {
    margin: 0;
    color: #007B10;
    font-weight: bold;
    float: right;
    font-size: 1.5em;
    line-height: 20px;
    cursor: pointer;
    transition: 0.5s;
    padding-right: 5%; }
  .success_alert .closebtn:hover {
    color: black; }

.info_alert {
  background-color: #B1C1FF;
  color: #0024B2;
  font-weight: bold;
  border: 1px solid #0024B2;
  border-radius: 10px;
  padding-left: 5%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2em;
  margin-bottom: 2em;
  /* When moving the mouse over the close button */ }
  .info_alert .closebtn {
    margin: 0;
    color: #0024B2;
    font-weight: bold;
    float: right;
    font-size: 1.5em;
    line-height: 20px;
    cursor: pointer;
    transition: 0.5s;
    padding-right: 5%; }
  .info_alert .closebtn:hover {
    color: black; }

.warning_alert {
  background-color: #FEBE8D;
  color: #F36900;
  font-weight: bold;
  border: 1px solid #F36900;
  border-radius: 10px;
  padding-left: 5%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2em;
  margin-bottom: 2em;
  /* When moving the mouse over the close button */ }
  .warning_alert .closebtn {
    margin: 0;
    color: #F36900;
    font-weight: bold;
    float: right;
    font-size: 1.5em;
    line-height: 20px;
    cursor: pointer;
    transition: 0.5s;
    padding-right: 5%; }
  .warning_alert .closebtn:hover {
    color: black; }

.danger_alert {
  background-color: #FDABAB;
  color: #E30101;
  font-weight: bold;
  border: 1px solid #E30101;
  border-radius: 10px;
  padding-left: 5%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2em;
  margin-bottom: 2em;
  /* When moving the mouse over the close button */ }
  .danger_alert .closebtn {
    margin: 0;
    color: #E30101;
    font-weight: bold;
    float: right;
    font-size: 1.5em;
    line-height: 20px;
    cursor: pointer;
    transition: 0.5s;
    padding-right: 5%; }
  .danger_alert .closebtn:hover {
    color: black; }

header {
  background-color: #D8DCDC;
  height: auto;
  text-align: center;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  header a {
    text-decoration: none; }
    header a h1 {
      color: #FDA54E;
      margin-left: 40%; }
    header a button:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      background-color: white;
      color: black;
      font-family: Comic Sans MS; }

button {
  width: 130px;
  height: 30px;
  background-color: grey;
  color: white;
  border: solid 2px black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-family: Arial;
  font-weight: bold; }

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  color: black;
  font-family: Arial; }

table {
  margin: auto;
  width: 80%;
  text-align: center;
  border: 1px solid black;
  border-radius: 7px;
  font-weight: normal;
  font-family: Arial; }
  table th {
    border: 2px solid black;
    color: white;
    background-color: #FDA54E; }
  table tr, table td {
    border: 1px solid black;
    font-weight: normal; }

.jumbotron {
  padding-right: 2em;
  padding-left: 2em;
  border-radius: 10px;
  border: 1px solid #FDA54E;
  background-color: #D8DCDC;
  width: 60%;
  height: auto;
  font-family: verdana;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
  .jumbotron form {
    color: #FDA54E;
    font-weight: bold;
    display: flex;
    flex-direction: column; }
  .jumbotron .button {
    background-color: grey;
    color: white;
    width: auto;
    height: 30px;
    border: solid 2px black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: Arial;
    text-decoration: none;
    text-align: center; }
    .jumbotron .button .button:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      background-color: white;
      color: black;
      font-family: Arial; }
  .jumbotron #valid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%; }
    .jumbotron #valid button {
      width: auto;
      text-align: center; }
  .jumbotron #input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #008080;
    margin: 2%;
    font-weight: normal;
    padding: 0; }
    .jumbotron #input input {
      border: 2px solid #FDA54E;
      height: 30px;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 4px; }

select {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 4px; }

.display {
  display: none; }

.button {
  color: black;
  font-weight: bold;
  width: auto;
  height: 30px;
  border: solid 2px black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-family: Arial;
  text-decoration: none; }

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  color: black;
  font-family: Arial; }

.flex {
  display: flex;
  text-align: center;
  flex-flow: row wrap; }

/* MENU */
.menu {
  background-color: #FDA54E;
  list-style: none;
  border: 2px black solid;
  margin-bottom: 1.5em; }
  .menu li {
    list-style-type: none; }
  .menu a {
    text-decoration: none;
    display: block;
    padding: 0.5em;
    color: white;
    font-weight: normal;
    font-family: Arial; }
  .menu > ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around; }
    .menu > ul li:hover a {
      padding: 15px 15px 20px 15px; }
    .menu > ul li:hover {
      border-top: 5px solid black;
      background-color: RGBa(228, 77, 38, 0.15);
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s; }
    .menu > ul > li {
      float: left;
      position: relative; }
      .menu > ul > li > a {
        padding: 20px 15px;
        color: #FFF; }

nav li:hover .submenu {
  display: inline-block;
  position: absolute;
  top: 69%;
  left: -26%;
  padding: 0px;
  z-index: 100000; }

.submenu {
  display: none; }
  .submenu li {
    border-bottom: 1px solid #CCC; }
    .submenu li a {
      padding: 15px 15px;
      font-size: 0.8em;
      color: white;
      width: 200px;
      font-family: Arial;
      background-color: #FDA54E; }

.ingred:hover {
  border-top: 5px solid #e44d26;
  background-color: RGBa(228, 77, 38, 0.15); }

.ingred .submenu {
  background-color: #FDA54E; }

.submenu li:hover a {
  color: black;
  opacity: 0.7;
  font-weight: bold; }

.ingred .submenu li:hover {
  border-top: 5px solid black;
  background-color: RGBa(228, 77, 38, 0.15); }

.Epreuves {
  display: flex;
  flex-direction: row; }

.inscriptionEpreuve {
  width: auto;
  margin-bottom: 2em;
  flex: 3;
  margin-left: 1em;
  margin-right: 1em; }

.descriptionEpreuve {
  width: auto;
  align-self: flex-start;
  flex: 2;
  margin-right: 1em;
  margin-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em; }

@media screen and (max-width: 640px) {
  nav ul li, nav ul li a {
    width: 100%;
    text-align: center; }

  nav ul li a, nav ul li:hover a {
    width: 95%;
    text-align: center;
    padding: 0; }

  nav li:hover .submenu {
    display: block;
    position: static;
    text-align: center;
    padding: 0;
    margin: 0; }

  header {
    display: flex;
    flex-direction: column; }

  header a h1 {
    display: none; }

  #valid button {
    width: auto; }

  .flex {
    display: flex;
    flex-direction: column; }

  .ariane {
    display: none; }

  .Epreuves {
    display: block; }

  .inscriptionEpreuve {
    width: 85%;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto; }

  .descriptionEpreuve {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em; } }
@media screen and (min-width: 645px) and (max-width: 980px) {
  header a h1 {
    font-size: 2em;
    margin: 0;
    padding: 0; }

  .Epreuves {
    display: block; }

  .inscriptionEpreuve {
    width: 80%;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto; }

  .descriptionEpreuve {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em; } }
/* FIN MENU */
/* FIL D'ARIANE */
body {
  text-align: center; }

#breadcrumb {
  list-style: none;
  display: inline-block; }
  #breadcrumb li {
    float: left; }
    #breadcrumb li a {
      color: #FFF;
      display: block;
      background: #FDA54E;
      text-decoration: none;
      position: relative;
      height: 40px;
      line-height: 40px;
      padding: 0 10px 0 5px;
      text-align: center;
      margin-right: 23px; }
    #breadcrumb li:nth-child(even) a {
      background-color: #E38E38; }
      #breadcrumb li:nth-child(even) a:before {
        border-color: #E38E38;
        border-left-color: transparent; }
      #breadcrumb li:nth-child(even) a:after {
        border-left-color: #E38E38; }
    #breadcrumb li:first-child a {
      padding-left: 15px;
      border-radius: 4px 0 0 4px; }
      #breadcrumb li:first-child a:before {
        border: none; }
    #breadcrumb li:last-child a {
      padding-right: 15px;
      border-radius: 0 4px 4px 0; }
      #breadcrumb li:last-child a:after {
        border: none; }
    #breadcrumb li a:before, #breadcrumb li a:after {
      content: "";
      position: absolute;
      top: 0;
      border: 0 solid #FDA54E;
      border-width: 20px 10px;
      width: 0;
      height: 0; }
    #breadcrumb li a:before {
      left: -20px;
      border-left-color: transparent; }
    #breadcrumb li a:after {
      left: 100%;
      border-color: transparent;
      border-left-color: #FDA54E; }
    #breadcrumb li a:hover {
      background-color: #64C1FE; }
      #breadcrumb li a:hover:before {
        border-color: #64C1FE;
        border-left-color: transparent; }
      #breadcrumb li a:hover:after {
        border-left-color: #64C1FE; }
    #breadcrumb li a:active {
      background-color: #62A4D1; }
      #breadcrumb li a:active:before {
        border-color: #62A4D1;
        border-left-color: transparent; }
      #breadcrumb li a:active:after {
        border-left-color: #62A4D1; }

#tab_org {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  height: auto;
  border-collapse: collapse;
  width: 90%;
  text-align: center; }
  #tab_org td {
    border: 1px solid #FE7632;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    width: auto; }

.creerEvent {
  text-align: center; }

.col-1 {
  box-sizing: border-box;
  float: left;
  width: 6.33333%;
  margin: 0 1%; }

.col-2 {
  box-sizing: border-box;
  float: left;
  width: 14.66667%;
  margin: 0 1%; }

.col-3 {
  box-sizing: border-box;
  float: left;
  width: 23%;
  margin: 0 1%; }

.col-4 {
  box-sizing: border-box;
  float: left;
  width: 31.33333%;
  margin: 0 1%; }

.col-5 {
  box-sizing: border-box;
  float: left;
  width: 39.66667%;
  margin: 0 1%; }

.col-6 {
  box-sizing: border-box;
  float: left;
  width: 48%;
  margin: 0 1%; }

.col-7 {
  box-sizing: border-box;
  float: left;
  width: 56.33333%;
  margin: 0 1%; }

.col-8 {
  box-sizing: border-box;
  float: left;
  width: 64.66667%;
  margin: 0 1%; }

.col-9 {
  box-sizing: border-box;
  float: left;
  width: 73%;
  margin: 0 1%; }

.col-10 {
  box-sizing: border-box;
  float: left;
  width: 81.33333%;
  margin: 0 1%; }

.col-11 {
  box-sizing: border-box;
  float: left;
  width: 89.66667%;
  margin: 0 1%; }

.offset-1 {
  box-sizing: border-box;
  float: left;
  margin-left: 8.33333%; }

.offset-2 {
  box-sizing: border-box;
  float: left;
  margin-left: 16.66667%; }

.offset-3 {
  box-sizing: border-box;
  float: left;
  margin-left: 25%; }

.offset-4 {
  box-sizing: border-box;
  float: left;
  margin-left: 33.33333%; }

.offset-5 {
  box-sizing: border-box;
  float: left;
  margin-left: 41.66667%; }

.offset-6 {
  box-sizing: border-box;
  float: left;
  margin-left: 50%; }

.offset-7 {
  box-sizing: border-box;
  float: left;
  margin-left: 58.33333%; }

.offset-8 {
  box-sizing: border-box;
  float: left;
  margin-left: 66.66667%; }

.offset-9 {
  box-sizing: border-box;
  float: left;
  margin-left: 75%; }

.offset-10 {
  box-sizing: border-box;
  float: left;
  margin-left: 83.33333%; }

.offset-11 {
  box-sizing: border-box;
  float: left;
  margin-left: 91.66667%; }

/*# sourceMappingURL=main.css.map */
