.success_alert{
	background-color: #B0FAB2;
	color:#007B10;
	font-weight: bold;
	border: 1px solid #007B10;
	border-radius: 10px;
	padding-left: 5%;
	padding-top:1em;
	padding-bottom: 1em;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 2em;
	margin-bottom: 2em;

	.closebtn {
		margin: 0;
	    color: #007B10;
	    font-weight: bold;
	    float: right;
	    font-size: 1.5em;
	    line-height: 20px;
	    cursor: pointer;
	    transition: 0.5s;
	    padding-right: 5%
	}

	/* When moving the mouse over the close button */
	.closebtn:hover {
	    color: black;
	}
}

.info_alert{
	background-color: #B1C1FF;
	color:	#0024B2;
	font-weight: bold;
	border: 1px solid #0024B2;
	border-radius: 10px;
	padding-left: 5%;
	padding-top:1em;
	padding-bottom: 1em;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 2em;
	margin-bottom: 2em;

	.closebtn {
		margin: 0;
	    color: #0024B2;
	    font-weight: bold;
	    float: right;
	    font-size: 1.5em;
	    line-height: 20px;
	    cursor: pointer;
	    transition: 0.5s;
	    padding-right: 5%
	}

	/* When moving the mouse over the close button */
	.closebtn:hover {
	    color: black;
	}
}

.warning_alert{
	background-color: #FEBE8D;
	color:#F36900;
	font-weight: bold;
	border: 1px solid #F36900;
	border-radius: 10px;
	padding-left: 5%;
	padding-top:1em;
	padding-bottom: 1em;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 2em;
	margin-bottom: 2em;

	.closebtn {
		margin: 0;
	    color: #F36900;
	    font-weight: bold;
	    float: right;
	    font-size: 1.5em;
	    line-height: 20px;
	    cursor: pointer;
	    transition: 0.5s;
	    padding-right: 5%
	}

	/* When moving the mouse over the close button */
	.closebtn:hover {
	    color: black;
	}
}

.danger_alert{
	background-color: #FDABAB;
	color:	#E30101;
	font-weight: bold;
	border: 1px solid #E30101;
	border-radius: 10px;
	padding-left: 5%;
	padding-top:1em;
	padding-bottom: 1em;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 2em;
	margin-bottom: 2em;

	.closebtn {
		margin: 0;
	    color: #E30101;
	    font-weight: bold;
	    float: right;
	    font-size: 1.5em;
	    line-height: 20px;
	    cursor: pointer;
	    transition: 0.5s;
	    padding-right: 5%
	}

	/* When moving the mouse over the close button */
	.closebtn:hover {
	    color: black;
	}
}

