$blue_color:#0671CE;


.btn{
	font-size: 0.95em;
	padding: 0.25em;
	text-align:center;
	background-color: $blue_color;
	color:white;
	border:1px solid #D1E3FB;
	border-radius: 5px;
	cursor:pointer;
	width:10em;
	height:auto;

	&:hover{
		background: linear-gradient(top, #4a9cff 0%, #3082F4 100%);
		background: -moz-linear-gradient(top, #4a9cff 0%, #3082F4 100%);
		background: -webkit-linear-gradient(top, #4a9cff 0%, #3082F4 100%);
		background: -o-linear-gradient(top, #4a9cff 0%, #3082F4 100%);
		-webkit-transition: all 0.7s;
        -moz-transition: all 0.7s;
         transition: all 0.7s;

	}
	&:active{
		opacity: 0.8;
	}

}

.btnlarge{
	font-size:1.1em;
	line-height: 1.2;
	padding: 0.7em;
	border-radius: 5px;
}

.btnsmall{
	font-size:0.75em;
	line-height: 1em;
	padding: 0.5em;
	border-radius: 0px;
}

.whitebtn{
	background: white;
	color:$blue_color;
	border:1px solid #D1E3FB;

	&:hover{
		background: linear-gradient(top, #D2E4FA 0%, #ACCDF9 100%);
		background: -moz-linear-gradient(top, #D2E4FA 0%, #ACCDF9 100%);
		background: -webkit-linear-gradient(top, #D2E4FA 0%, #ACCDF9 100%);
		background: -o-linear-gradient(top, #D2E4FA 0%, #ACCDF9 100%);
	}
	&:active{
		opacity: 0.8;
	}
}

.orangebtn{
	background-color: #FEFEFE;
	color:black;
	border:1px solid #FE7632;

		&:hover{
		background: linear-gradient(top, #E69C3A 0%, #FE7632 100%);
		background: -moz-linear-gradient(top, #E69C3A 0%, #FE7632 100%);
		background: -webkit-linear-gradient(top, #E69C3A 0%, #FE7632 100%);
		background: -o-linear-gradient(top, #E69C3A 0%, #FE7632 100%);
		color: white;
	}

	&:active{
		opacity: 0.8;
	}
}

.redbtn{
	background-color: #FEFEFE;
	color:#D8012C;
	border:1px solid #D8012C;

		&:hover{
		background: linear-gradient(top, #A50021 0%, #D8012C 100%);
		background: -moz-linear-gradient(top, #A50021 0%, #D8012C 100%);
		background: -webkit-linear-gradient(top, #A50021 0%, #D8012C 100%);
		background: -o-linear-gradient(top, #A50021 0%, #D8012C 100%);
		color: white;
	}

	&:active{
		opacity: 0.8;
	}
}

.fatbtn{
	padding: 0;
	border:none;
	background-color: lightblue;
	color:black;
	border-radius: 0;

	&:hover{
		background: linear-gradient(top, lightblue 0%, lightblue 100%);
		background: -moz-linear-gradient(top, lightblue 0%, lightblue 100%);
		background: -webkit-linear-gradient(top, lightblue 0%, lightblue 100%);
		background: -o-linear-gradient(top, lightblue 0%, lightblue 100%);
		color: black;
	
	}
}

.extralargebtn{
	width: 100%;
	margin-left:0;
	margin-right: 0;
}

.fancybtn{
	font-weight: bold;
	-webkit-box-shadow: 10px 10px 10px ;
    -moz-box-shadow: 10px 10px 10px ;
     box-shadow: 10px 10px 10px ;
     text-shadow:0px 0px 9px black;


      &:hover{
		 -webkit-box-shadow: 2px 2px 2px ;
	     -moz-box-shadow: 2px 2px 2px ;
	      box-shadow: 2px 2px 2px ;
	      text-shadow:0px 0px 9px white;
      }

        &:active {
	    box-shadow: 0 0.1em 0.2em rgba(black,0.1) inset, 0 0.1em 0.1em rgba(black,0.2) inset, 0.05em 0 0.07em rgba(black,0.2) inset, -0.05em 0 0.07em rgba(black,0.2) inset;
	    transition: all 10ms;
  }
}

#tab_org{
	input {
	text-align:center;
	border: solid 0px;
	width:100%;
	margin:0;
	height:auto;
}
}