
$blue_color:#0671CE;


header{
	background-color:#D8DCDC;
	height: auto;
	text-align: center;
  padding: 1%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;

  a{
      text-decoration: none;

    h1{
      color: #FDA54E;
      margin-left: 40%;
    }

    button:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        background-color: white;
        color: black;
        font-family: Comic Sans MS;
      }
    }

  }

    button{
      width: 130px;
      height: 30px;
      background-color: grey;
      color: white;
      border: solid 2px black;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
      font-family: Arial;
      font-weight: bold;
    }

    button:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        background-color: white;
        color: black;
        font-family: Arial;
      }

table{
  margin: auto;
  width: 80%;
  text-align: center;
  border: 1px solid black;
  border-radius: 7px;
  font-weight: normal;
  font-family: Arial;
  
  th{
    border: 2px solid black;
    color: white;
    background-color: #FDA54E;

  }

  tr,td{
    border:1px solid black;
    font-weight: normal;
  }
}

.jumbotron{ 
	padding-right:2em;
	padding-left: 2em;
	border-radius: 10px;
	border:1px solid #FDA54E;
	background-color: #D8DCDC;
  width: 60%;
  height: auto;
  font-family: verdana;
  display: flex;
  flex-direction:column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  form{
    color: #FDA54E;
    font-weight: bold;
    display: flex;
    flex-direction:column;
  }


  .button{
      background-color: grey;
      color: white;
      width: auto;
      height: 30px;
      border: solid 2px black;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
      font-family: Arial;
      text-decoration: none;
      text-align: center;
      
      .button:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        background-color: white;
        color: black;
        font-family: Arial;
  }
}

  #valid{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    padding: 2%;
   

    button{
      width: auto;
      text-align: center;
    }
  }

  #input{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    color: #008080;
    margin: 2%;
    font-weight: normal;
    padding: 0;

    input{
      border: 2px solid #FDA54E;
      height:30px;
      text-align: center;
      margin-bottom:10px;
      margin-top: 4px;

    }
  }
}

select{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 4px;
}

.display{
  display: none;
}


.button{
      color: black;
      font-weight: bold;
      width: auto;
      height: 30px;
      border: solid 2px black;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
      font-family: Arial;
      text-decoration: none;
    }

    .button:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        background-color: white;
        color: black;
        font-family: Arial;
    }

    .flex{
      display: flex;
      text-align: center;
      flex-flow:row wrap;
    }

/* MENU */
.menu{

  background-color:#FDA54E;
  list-style: none;
  border: 2px black solid;
  
  margin-bottom: 1.5em;

  li{
    list-style-type: none;
  }

  a{
    text-decoration: none;
    display: block;
    padding: 0.5em;
    color: white;
    font-weight: normal;
    font-family: Arial;
  
  }

  > ul{
    margin:0;
    padding:0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;

    li:hover a{
      padding: 15px 15px 20px 15px;
    }

    li:hover{
         border-top:5px solid black;
         background-color: RGBa(228,77,38,0.15);
         -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
         transition: all 0.4s;
      }

    > li{
      float:left;
      position: relative;

      > a{
        padding: 20px 15px;
        color:#FFF;
      }
    }
  }
}

nav li:hover .submenu{
  display: inline-block;
  position: absolute;
  top:69%;
  left:-26%;
  padding: 0px;
  z-index: 100000;
}

.submenu{
  display: none;


  li{
    border-bottom: 1px solid #CCC;

    a{
      padding: 15px 15px;
      font-size: 0.8em;
      color:white;
      width: 200px;
      font-family: Arial;
      background-color: #FDA54E;
      }
  }
}

.ingred:hover{
  border-top:5px solid #e44d26;
  background-color: RGBa(228,77,38,0.15);
}

.ingred .submenu{
  background-color: #FDA54E;
}

.submenu li:hover a{
  color:black;
  opacity: 0.7;
  font-weight: bold;
}

.ingred .submenu li:hover{
  border-top:5px solid black;
  background-color: RGBa(228,77,38,0.15)
}

.Epreuves{
  display:flex;
  flex-direction:row;
}

.inscriptionEpreuve{
  width:auto;
  margin-bottom:2em;
  flex:3;
  margin-left: 1em;
  margin-right: 1em;
}

.descriptionEpreuve{
  width:auto;
  align-self: flex-start;
  flex:2;
  margin-right: 1em;
  margin-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right:0.5em;
}

@media screen and (max-width: 640px){
  nav ul li, nav ul li a{
    width: 100%;
    text-align: center;
  }

  nav ul li a, nav ul li:hover a{
    width: 95%;
    text-align:center;
    padding: 0;
  }

  nav li:hover .submenu{
    display: block;
    position: static;
    text-align:center;
    padding: 0;
    margin: 0;
  }

  header{
    display: flex;
    flex-direction:column;
  }

  header a h1{
    display: none;
  }

  #valid button{
    width: auto;  
  }

  .flex{
    display: flex;
    flex-direction:column;
  }

 .ariane{
    display: none;
  }

  .Epreuves{
    display: block;
}

.inscriptionEpreuve{
  width:85%;
  margin-bottom:2em;
  margin-left: auto;
  margin-right: auto;
}

.descriptionEpreuve{
  width:90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom:1em;
}
}


@media screen and (min-width: 645px) and (max-width: 980px) {
 
  header a h1{
    font-size: 2em;
    margin:0;
    padding: 0;
  }

.Epreuves{
  display:block;
}

.inscriptionEpreuve{
  width:80%;
  margin-bottom:2em;
  margin-left: auto;
  margin-right: auto;
}

.descriptionEpreuve{
  width:80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom:2em;
}
}

/* FIN MENU */ 

  
/* FIL D'ARIANE */

$blue-gray 			    : #34495e;
$blue-gray-darken 	: #2c3e50;
$blue 				      : #3498db;
$blue-darken 		    : #2980b9;
$green 				      : #1abc9c;
$green-darken 		  : #16a085;


body{
  text-align: center;
}

#breadcrumb{
  list-style:none;
  display: inline-block;
  
  li{
    float:left;
    a{
      color:#FFF;
      display:block;
      background: #FDA54E;
      text-decoration: none;
      position:relative;
      height: 40px;
      line-height:40px;
      padding: 0 10px 0 5px;
      text-align: center;
      margin-right: 23px;
    }
    &:nth-child(even){
      a{
        background-color: #E38E38;
        
        &:before{
          border-color:#E38E38;
          border-left-color:transparent;
         }
        &:after{
          border-left-color: #E38E38;
        }
      }
    }
    &:first-child{
      a{
        padding-left:15px;
        border-radius:4px 0 0 4px;
        &:before{
          border:none;
         }
      }
    }
    &:last-child{
      a{
        padding-right:15px;
        border-radius:0 4px 4px 0;
        &:after{
          border:none;
         }
      }
    }
    
    a{   
      &:before,
      &:after{
        content: "";
        position:absolute;
        top: 0;
        border:0 solid #FDA54E;
        border-width:20px 10px;
        width: 0;
        height: 0;
      }
      &:before{
        left:-20px;
        border-left-color:transparent;
      }
      &:after{
        left:100%;
        border-color:transparent;
        border-left-color:#FDA54E;
      }
      &:hover{
        background-color: #64C1FE;
        
        &:before{
          border-color:#64C1FE;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:#64C1FE;
        }
      }
      &:active{
        background-color: #62A4D1;
        
        &:before{
          border-color:#62A4D1;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:#62A4D1;
        }
      }
    }
  }
}


#tab_org
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  height: auto;
  border-collapse: collapse;
  width:90%;
  text-align: center;

   td{
    border: 1px solid #FE7632;
    padding-top: 5px;
    padding-bottom: 5px;
    height:auto;
    width:auto;
  }
}

.creerEvent{
  text-align: center;
}


