$basic_color: black;
$basic_fontfamily: Arial;
$basic_margin:1em;
$blue_color:#0671CE;

h1{
	font-size: 2.8em;
	font-style: normal;
	font-weight: bold;
	color:$basic_color;
	font-family: $basic_fontfamily;
	text-align: center;
	margin-bottom:0.5em;
	margin-top:0.5em;
	text-decoration: none;

/*-- La taille du titre est diminuée, et la couleur est changée --*/
	&.small{
		font-size: 2.3em;
		color:grey;
	}
}

h2{
	font-size: 2.2em;
	font-style: normal;
	font-weight: bold;
	color:$basic_color;
	font-family:$basic_fontfamily;
	margin-bottom:0.5em;
	margin-top:0.5em;

/*-- La taille du titre est diminuée, et la couleur est changée --*/
	&.small{
		font-size: 1.7em;
		color:grey;
	}
}

h3{
	font-size: 1.6em;
	font-style: normal;
	font-weight: bold;
	color:$basic_color;
	font-family: $basic_fontfamily;
	margin-bottom:0.5em;
	margin-top:0.5em;

/*-- La taille du titre est diminuée, et la couleur est changée --*/
	&.small{
		font-size: 1.3em;
		color:grey;
	}
}

h4{
	font-size: 1.25em;
	font-style: normal;
	font-weight: bold;
	color:$basic_color;
	font-family: $basic_fontfamily;
	margin-bottom:0.5em;
	margin-top:0.5em;

/*-- La taille du titre est diminuée, et la couleur est changée --*/
	&.small{
		font-size:1.1em ;
		color:grey;
	}
}


h5{
	font-size:1em;
	font-style: normal;
	font-weight: bold;
	color:$basic_color;
	font-family: $basic_fontfamily;
	margin-bottom:0.5em;
	margin-top:0.5em;

/*-- La taille du titre est diminuée, et la couleur est changée --*/
	&.small{
		font-size: 0.9em;
		color:grey;
	}
}

h6{
	font-size:0.8em;
	font-style: normal;
	font-weight: bold;
	color:$basic_color;
	font-family: $basic_fontfamily;
	margin-bottom:0.5em;
	margin-top:0.5em;

/*-- La taille du titre est diminuée, et la couleur est changée --*/
	&.small{
		font-size:0.7em ;
		color:grey;
	}
}

/* Le texte en question sera plus petit */
small {
	font-size: smaller;
	color:grey;
}

body {

	margin-bottom:1.5em;

	> p{
		margin-bottom: $basic_margin;
		text-indent: 1em;
		line-height: 1.2;
	}
}

 mark{
 	color:white;
 	background-color:$blue_color;
 	font-weight: bold;
 	font-style: normal;
 	padding-right: 4px;
 	padding-left: 4px;
 }

 del{
 	color: black;
 	font-weight: normal;
 	font-style:oblique;
 	padding-right: 4px;
 	padding-left: 4px;
 }

ins{
	color: white;
	font-weight: normal;
	font-style: oblique;
	background-color: $blue_color;
	padding-right: 4px;
	padding-left: 4px;
}

u{
	color:black;
	font-weight: normal;
	font-style: normal;
	padding-left: 4px;
	padding-right: 4px;
}

strong{
	color: black;
	font-weight: bold;
	font-style: normal;
	font-family: Arial, Sans-Serif;
	padding-left: 4px;
	padding-right: 4px;
}

em{
	color: black;
	font-weight: normal;
	font-style:oblique;
}

abbr{
	color: black;
	font-weight: normal;
	font-style: normal;
}

blockquote{
	display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    padding:1em;
    font-family: comics;
    font-style: oblique;
    color:$blue_color;
    background-color: #D1E3FB;
    border:1px solid $blue_color;
    border-radius: 5px;
}

code{
	font-family: monospace;
	font-size:smaller;
	color: black;
	display: block;
	padding: 1em;
	margin: 1em;
	line-height: 1.25;
}

pre{
	display: block;
	font-size:smaller;
	font-style: normal;
	color:black;
	margin-left: 1em;
}

kbd{
	background-color:#D1E3FB;
	color:black;
	border:1px solid $blue_color; 
	border-radius:4px;
	padding: 2px;
}

ul{
	margin-left: 2em;
	font-weight: bold;
	color:$blue_color;
	margin-bottom:1em;
	margin-top:1em;

	&.squareli
	{
		li{
			color: grey;
			list-style-type: square;
			margin-left: 2em;
			font-weight: normal;
				
		}
	}

	&.noneli
	{
		li{
			color: grey;
			list-style-type: none;
			margin-left: 2em;
			font-weight: normal;
		}
	}
}

.left_align{
	text-align: left;
}

.center_align{
	text-align: center;
}

.right_align{
	text-align: right;
}

.justify_align{
	text-align: justify;
}

.uppertext{
	text-transform : uppercase;
}

.lowertext{
	text-transform : lowercase;
}

.bord{
	border:1px solid $blue_color;
	padding:1em;
	margin: 1em;
	width: auto;
	border-radius: 4px;
}

.survol:hover{
	color:$blue_color;
	padding: 0;
	margin: 0;
}

.automargin{
	margin-left:auto;
	margin-right:auto;
}