body {
	width: 100%;
}

#title{
	width: 80%;
  	display: block;
  	text-transform: uppercase;
	text-align: center;
	padding: 10px 0;
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	color: darkred;
	font-size: 24px;
	background: lightgrey;
	border-left: 2px solid darkred;
	border-right: 2px solid darkred;
}

#My-lightbox-gallery {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;


  .vignette{
	  background: lightgrey;
	  padding: 5px;
	  padding-top: 15px;
	  margin:10px;
	  margin-top: 20px;
	  color: darkred;
	  font-size: 1em;
	  text-align: center;
	  width: 200px;
	  height: 140px;
	  border:2px solid darkred;
	  border-radius: 10px;
	  cursor: pointer;

	  img{
	  	width: 94%;
	  	height: 80%;
	  	margin-bottom: 5px;
	  	border-radius: 50px;
	  
	  }
	}

	.vignette:hover{
		box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.75);
		background: rgba(255, 255, 255, 0.6 );

		img{
			opacity: 0.4;
		}
	
	}



}