
.modal {

    width:100%;
    height: 100%;   
    position: fixed;
    margin: 0;
    top:0; left:0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    overflow:auto;

    #modal_close{
		background-color: rgba(0,0,0,0.5);
	    opacity: 1;
	    color: white;
	    border: none;
	    position:absolute; top:0; right:0;
	    height: 8%;
	    width: 3%;
	    padding : 0.4em;
	    z-index:99;
	    cursor: pointer;
	}	

	 #modal_content {
	    box-sizing: border-box;
	    background-color: black;
	    margin:auto;
	    width: 100%;
	    height: 100%;
	    overflow: auto;
	    text-align: center;
	    position: relative;
	    padding-right: 5%;
	    padding-left: 5%;
	    padding-top: 4% ;
	    padding-bottom: 2%;
	    overflow:auto;
	    
	}

	#slider{
		width: 80%;
		box-sizing:  border-box;
		position: absolute;
		bottom: 0;
		left:10%;
		z-index: 99999;
	}

	.slidingContent{
		box-sizing: border-box;
		height: 70%;
		background-color: rgba(0,0,0,0.5);
		z-index: 1000000;
		color:white;
		display: none;
		padding-bottom: 10px;
		padding-top: 10px;

		button{
			margin-left: 5px;
		}
	}

	#showContent{
		box-sizing: border-box;
		width: 80%;
		z-index: 99999;
		background-color: rgba(0,0,0,0.5);
		color: white;
		text-align: center;
		font-size: 1.2em;
		border:none;
		cursor: pointer;

	}

	#showContent:focus {
    outline:0;
	}

	.comContent{
	color:white;
	font-size:1.2em;
	padding-bottom:1em;
	}

}	

.img{
width: 100%;
height: 100%;
}

.titre{
	position:absolute;
	top: 0;
	left: 0; right: 0; margin: 0 auto; 
	background-color: rgba(0,0,0,0.5);
    opacity: 1;
    color: white;
    font-size: 1.4em;
    border: none;
    text-align: center;
    padding-top: 1%;

}

#modal_next, #modal_previous{
	position:absolute;
	top:45%;
	padding: 8px 12px;
	font-size: 1.5em;
	background-color: rgba(0,0,0,0.5);
	color: white;
	cursor: pointer;
	z-index: 9999;
	border:none;

}

#modal_next{
	right: 2%;
}

#modal_previous{
	left: 2%;
}






/*
.lb_previous, .lb_next {
	position: absolute;
	top:45%;
	padding: 8px 12px;
	font-family: websymbols;
	font-size: 14px;
	background-color: black;
	color:white;
	border:none;
	cursor: pointer;
	opacity:1;
	font-size: 1.5em;
	z-index:9999;
	margin-top: auto;
	margin-bottom: auto;
}
.lb_previous {
	left: 0;
}
.lb_next {
	right: 0;
}
.lb_title {
	position:fixed;
	text-align: center;
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	padding: 5px 0;
	font-weight: bold;
	bottom: 10px;
	z-index:999;
	background: rgba(0, 0, 0, 0.9);
	width:50%;
	left: 0; right: 0; margin: 0 auto
}
*/
