
$blue_color:#0671CE;


header{
	background-color:white;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
}


.jumbotron{
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom:2em; 
	padding-right:2em;
	padding-left: 2em;
	border-radius: 10px;
	border:1px solid #FE7632;
	background-color: #eee;
	text-align: center;
}


/* MENU */
.menu{

  background-color:#FDA54E;
  list-style: none;
  border-bottom: 2px black solid;
  margin-top:5px;
  margin-bottom: 1.5em;

  li{
    list-style-type: none;
  }

  a{
    text-decoration: none;
    display: block;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    font-family: "Times New Roman", Times;
  
  }

  > ul{
    margin:0;
    padding:0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;

    li:hover a{
      padding: 15px 15px 20px 15px;
    }

    li:hover{
         border-top:5px solid white;
         background-color: RGBa(228,77,38,0.15);
         -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
         transition: all 0.4s;
      }

    > li{
      float:left;
      position: relative;

      > a{
        padding: 20px 15px;
        color:#FFF;
      }
    }
  }
}

nav li:hover .submenu{
  display: inline-block;
  position: absolute;
  top:69%;
  left:-40%;
  padding: 0px;
  z-index: 100000;
}

.submenu{
  display: none;


  li{
    border-bottom: 1px solid #CCC;

    a{
      padding: 15px 15px;
      font-size: 0.8em;
      color:white;
      width: 200px;
      }
  }
}

.ingred:hover{
  border-top:5px solid #e44d26;
  background-color: RGBa(228,77,38,0.15);
}

.ingred .submenu{
  background-color: #FDA54E;
}

.submenu li:hover a{
  color:white;
  font-weight: bold;
}

.ingred .submenu li:hover{
  border-top:5px solid white;
  background-color: RGBa(228,77,38,0.15)
}

@media screen and (max-width: 645px){
nav ul li, nav ul li a{
    width: 100%;
    text-align: center;

  }

  nav ul li a, nav ul li:hover a{
    width: 95%;
    text-align:center;
    padding: 0;
  }

  nav li:hover .submenu{
    display: block;
    position: static;
    text-align:center;
    padding: 0;
    margin: 0;
  }
}

/* FIN MENU */



/* FIL D'ARIANE */

$blue-gray 			    : #34495e;
$blue-gray-darken 	: #2c3e50;
$blue 				      : #3498db;
$blue-darken 		    : #2980b9;
$green 				      : #1abc9c;
$green-darken 		  : #16a085;


body{
  text-align: center;
}

#breadcrumb{
  list-style:none;
  display: inline-block;
  
  li{
    float:left;
    a{
      color:#FFF;
      display:block;
      background: #FDA54E;
      text-decoration: none;
      position:relative;
      height: 40px;
      line-height:40px;
      padding: 0 10px 0 5px;
      text-align: center;
      margin-right: 23px;
    }
    &:nth-child(even){
      a{
        background-color: #E38E38;
        
        &:before{
          border-color:#E38E38;
          border-left-color:transparent;
         }
        &:after{
          border-left-color: #E38E38;
        }
      }
    }
    &:first-child{
      a{
        padding-left:15px;
        border-radius:4px 0 0 4px;
        &:before{
          border:none;
         }
      }
    }
    &:last-child{
      a{
        padding-right:15px;
        border-radius:0 4px 4px 0;
        &:after{
          border:none;
         }
      }
    }
    
    a{   
      &:before,
      &:after{
        content: "";
        position:absolute;
        top: 0;
        border:0 solid #FDA54E;
        border-width:20px 10px;
        width: 0;
        height: 0;
      }
      &:before{
        left:-20px;
        border-left-color:transparent;
      }
      &:after{
        left:100%;
        border-color:transparent;
        border-left-color:#FDA54E;
      }
      &:hover{
        background-color: #64C1FE;
        
        &:before{
          border-color:#64C1FE;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:#64C1FE;
        }
      }
      &:active{
        background-color: #62A4D1;
        
        &:before{
          border-color:#62A4D1;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:#62A4D1;
        }
      }
    }
  }
}