$numcols: 12;
$lgout: 2%;
$cols: 100% - ($numcols*$lgout);
$uncol: $cols/$numcols;



@mixin grid-col($cols, $numcols) {
	box-sizing: border-box;
	float: left;
	width: $cols * $uncol + (($cols - 1)*$lgout);
	margin: 0 1%;
}

@mixin grid-offset($cols, $numcols) {
	box-sizing: border-box;
	float: left;
	margin-left: $cols*($uncol + $lgout);
}

@for $cols from 1 to $numcols {
	.col-#{$cols}{
		@include 
		grid-col($cols, $numcols);
	}
}

@for $cols from 1 to $numcols {
	.offset-#{$cols}{
		@include 
		grid-offset($cols, $numcols);
	}
}