<ul class='list'>
	<li class='label'>
		{{list.label}}
		<button ng-click="delete(list.id)">Supprimer</button><button ng-click="afficher(list.id)" >Afficher</button>
		<br>
		<input type="text" name="changeNameList" ng-model="list.changeNameList"><button class="update" ng-click="update(list)">Modifier Nom</button>
	</li>
</ul>