<ul class='tache'>
	<li class='text' ng-animate="'animate'">
		{{ tache.text }}
		<input type="checkbox" ng-model="tache.done" ng-click="tacheCheck(tache)">
		<button ng-click="deleteTache(tache)">Supprimer</button><br>
		<input type="text" name="changeNameTache" ng-model="tache.changeNameTache"><button class="update" ng-click="updateTache(tache)">Changer Nom</button>
		<img ng-if="tache.done==true" src="./images/check.png" width="30" height="30">
		<img ng-if="tache.done==false" src="./images/nocheck.png" width="30" height="30">
	</li>
</ul>

