<!DOCTYPE html>
<html lang='fr'>
	<head>
		<meta charset='utf-8'>
		<title>Tâches à faire</title>
	</head>
	<script src="lib/jquery-3.1.1.min.js"></script>
	<script src="lib/angular.min.js"></script>
	<script src="lib/node_modules/angular-animate/angular-animate.min.js"></script> 
	<script src="app/app.js"></script>
	
	<script src="app/models/list.js"></script>
	<script src="app/models/tache.js"></script>
	<script src="app/controllers/lists_controller.js"></script>
	<script src="app/controllers/tache_controller.js"></script>
	<script src="app/directives/list_directive.js"></script>
	<script src="app/directives/tache_directive.js"></script>
	
	<link rel="stylesheet" href="main.css" />
	<body ng-app='tache'>
		<h1 class='titre'>Tâches à faire</h1>

			<div ng-controller='ListsController' id='lists'>
			<h1 class='titre2'>Listes</h1>
				<input type="text" name="nameList" ng-model='nameList'><button class='add' ng-click='add()'>Ajouter une liste</button>

				<ul class='lists'>
					<li ng-repeat='list in lists' class="fade"> 
						<!--
						
						-->
						<list> </list>
					</li>
				</ul>
			</div>

			<div ng-controller='TachesController' id='taches'>
			<h1 class='titre2'>Tâches</h1>
			<input type="text" name="nameTache" ng-show="listSelect" ng-model='nameTache'><button class='add' ng-show="listSelect" ng-click='addTache()'>Ajouter une tâche</button>
				<ul class='taches'>
					<li ng-repeat='tache in listetaches' class="fade">
					 	<tache>
					</li> 
				</ul>
			
			</div>

	</body>
</html>