#error    { width: 100%; }
#lists { width: 40%; float: left; }
#taches     { width: 40%; float: right; }

.errorMsg {
  color: #ad5e5c;
  background: #ffe7e7;
  border:2px solid #e77d7b;
  padding: 5px;
}

.titre{
  font-family: ;
  font-size: 3em;
  text-align: center;
}

.titre2{
  font-size: 1.8em;
  text-align: center;
}

.lists, .list, .taches, .tache {
  list-style-type: none;
  padding: 0;
}

#taches{
  margin-right: 5%;
  text-align: center;
}

#lists{
  margin-left: 5%;
  text-align: center;
}

.tache{
  border : 1px solid black;
}

.list, .tache {
  position: relative;
  background: #d0d0ff;
  border: 1px solid #4b4b89;
  padding: 15px;
}

.label{
  font-size: 1.5em;
  text-transform: uppercase;
  color: #4b4b89;
  text-align: center;
}

.text{
font-size: 1.2em;
  text-transform: uppercase;
  color: #4b4b89;
  text-align: center;
}

/*.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}*/


.fade.ng-enter {
  transition:0.6s linear all;
  opacity:0;
}

.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
    transition:0.6s linear all;
  opacity:1;
}

.fade.ng-leave.ng-leave-active {
  opacity: 0;
}

