body{
    text-align: center;
}

#content {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;

}

.monster {
    display: inline-block;
    height: 100px;

}

#monster {
    border-radius: 5px;
    border:solid black;
    border-width: 0px;
    background-color: lightgreen;
    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
}

#actionbox {
    border: 1px solid grey;
    width: 50%;
    height: 200px;
    overflow: hidden;
}
#actionbox >p {
    margin: 0 ;
}
ul#status {
    display: flex;
    flex-direction: row;
    list-style: none;
  align-items: center;
  justify-content: center;

}

ul#status li {
    margin-left : 20px;
}

button {
    width: 75px;
    height: 40px;
    background-color: deepskyblue;
    border: 0;
    margin-right: 8px;
}

button:hover {
    background-color: dodgerblue;
}
